:root {
	--color-green: rgb(58, 186, 209);
	--color-green-light: rgb(201, 225, 230);
	--color-oranage: rgb(209, 126, 58);
	--color-oranage-light: rgb(240, 235, 230);
}

body {
	background-color: rgb(231, 231, 231);
	color: rgb(160, 160, 160);
	font-family: Verdana, sans-serif;
	font-size: x-small;
	line-height: 2;
}

h2,
p {
	text-align: center;
}

body > div {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

section {
	display: inline-block;
	background-color: white;
	width: 300px;
	border: rgb(187, 187, 187) 2px solid;
	border-radius: 3px;
	margin: 6px;
}

section > h2 {
	color: var(--color-oranage);
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: x-large;
}

section > p:first-child {
	display: block;
	margin-top: 0px;
	margin-bottom: 25px;
}

div > section:first-child > h2 {
	color: var(--color-green);
}

section > button {
	color: var(--color-oranage-light);
	background-color: var(--color-oranage);
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 20px;

	border-radius: 3px;
	border: 1px solid var(--color-oranage-light);
	font-weight: bold;
	padding: 11px;
}

div > section:first-child > button {
	color: var(--color-green-light);
	background-color: var(--color-green);
	border-color: var(--color-green-light);
}
